# Configuration file that contains all the variables that we don't want to share publicly or change depending on the env
# In order to use this file you have to create a file called config.env in the config folder and copy/paste the content of this file.

# this file contains the back-end variables for the project. if you want to change front-end variables, move into the client folder

NODE_ENVIROMENT=development
PORT=8081

CLIENTURL=http://localhost:3000

# Used for sending automated emails from the back-end, ex: send welcome email upon user login, or password reset email.
MAILGUN_API_KEY=
TEST_DOMAIN=
FROM_EMAIL=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
JWT_SECRET=

MONGO_URI=# production DB URI 

TEST_MONGO_URI=# test DB URI used for development purposes
